Flask==1.1.1
requests==2.22.0
numpy==1.17.4
pandas==0.25.3
matplotlib==3.1.1
geopy==1.20.0

#schema validation
marshmallow== 3.2.2

# testing requirements
pytest>=4.6.6,<5.0.0
#environment setup
gunicorn==20.0.4

#google cloud services
google-cloud-bigquery==1.22.0